{"interval": 1, "seed": 77, "laneChange": true, "dir": "records/ChatGPTTLCSCommonsense/anon_4_4_hangzhou_real.json12_13_06_30_31/", "roadnetFile": "roadnet_4_4.json", "flowFile": "anon_4_4_hangzhou_real.json", "rlTrafficLight": true, "saveReplay": true, "roadnetLogFile": "./roadnet_4_4.json-anon_4_4_hangzhou_real.json-ChatGPTTLCSCommonsense-gpt-4-4_Phases-roadnetLogFile.json", "replayLogFile": "./roadnet_4_4.json-anon_4_4_hangzhou_real.json-ChatGPTTLCSCommonsense-gpt-4-4_Phases-replayLogFile.txt"}