{"interval": 1, "seed": 58, "laneChange": true, "dir": "records/LLMTLCSRun/anon_4_4_hangzhou_real.json_12_01_05_35_34/", "roadnetFile": "roadnet_4_4.json", "flowFile": "anon_4_4_hangzhou_real.json", "rlTrafficLight": true, "saveReplay": true, "roadnetLogFile": "./roadnet_4_4.json-anon_4_4_hangzhou_real.json-LLMTLCSRun-LLM_MODEL_NAME_ONLY_FOR_LOG-4_Phases-roadnetLogFile.json", "replayLogFile": "./roadnet_4_4.json-anon_4_4_hangzhou_real.json-LLMTLCSRun-LLM_MODEL_NAME_ONLY_FOR_LOG-4_Phases-replayLogFile.txt"}